/* Color */
$red: #ff0000;
$bg: white;
$color-light-white: #bdbdbd;
$color-light-brown: #c2ac88;
$color-dark-red: #bf360c;
$color-brown: #a38000;
$color-dark-brown: #754100;
$color-dark-grey: #4d4d4d;
$color-grey: #616161;
$color-light-grey: #7c7979;
$color-black: #212121;
$color-hightlight: #08a7af;

/* Font size */
$font-large: 48px;
$font-medium: 28px;
$font-regular: 20px;
$font-small: 16px;
$font-micro: 14px;

/* Font weight */
$weight-bold: 700;
$weight-semi-bold: 600;
$weight-reqular: 400;

/* Size */
$size-border-radius: 4px;

/* Animation */
$animation-duration: 300ms;
